.hs{
    height: 350px;
    width:auto;
    background-color:#112233;
    color: white;
    text-align: center;
    margin-top:50px;
    padding-bottom: 30px;

    /* font-size: x-large; */
}

/* h2{
    margin-top: 50px;
} */

/* .tc{
    color: white;
    text-align: center;
} */

.fs{
    font-size:xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.blnk{
background-color:#0b1622 ;
height: 50px;
width:auto;

}
.inp{
    padding:8px ;
    background-color: chartreuse;
}